.container {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
}
.filter{
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 5%; 
}


.spinner {
    position: fixed;
    bottom: 10px; /* ajustez cette valeur selon vos besoins */
    left: 50%;
    transform: translateX(-50%);
    width: 30px; /* ajustez la largeur selon vos besoins */
    height: 30px; /* ajustez la hauteur selon vos besoins */
  }
