<ng-container *ngIf="page$ | async as page">
<div fxLayout="row warp" fxLayoutAlign="space-between">
    <div *ngFor="let produit of page.content" fxFlex="50%">
      <mat-card>
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{produit.titre}}</mat-card-title>
            <mat-card-subtitle>{{produit.prix}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
             {{produit.description}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </mat-card>
    </div>
  </div>
</ng-container>
