/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0;
     font-family: Roboto, "Helvetica Neue", sans-serif;
     }
.mat-view {
   background-color: rgb(118, 223, 20);
   color: #fff;
      }
.mat-panier {
    background-color: rgb(81, 116, 229);
     color: #fff;
             }
