<div fxLayout="row wrap" fxLayoutGap="5%" [formGroup]="lineProduit">
    <mat-form-field appearance="fill" fxFlex="30%">
        <mat-label>Numero Produit :</mat-label>
        <input type="text"  matInput formControlName="produitID" appPrixValid>
        <mat-error>Ce champ est requis</mat-error>
    </mat-form-field> 

    <mat-form-field appearance="fill" fxFlex="30%">
        <mat-label>Qte :</mat-label>
        <input type="text" matInput formControlName="qte" appPrixValid>
        <mat-error>Ce champ est requis</mat-error>
    </mat-form-field >


      <div fxFlex="30%">
        <button mat-mini-fab color="warn" aria-label="" (click)="deleteLine()">
            <mat-icon>remove</mat-icon>
          </button>
      </div>

</div>
